.puzzle-container {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.395);
  padding: 30px;
  margin: 20px auto;
  max-width: 700px;
}

.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.question {
  /* font-size: 30px; */
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.answer-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.answer-input {
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  width: 100%;
  border: none;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.263);
  margin-bottom: 10px;
}

.submit-button {
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.submit-button:hover {
  background-color: #444;
}

.hints {
  margin-top: 20px;
}

.hints-heading {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.hint {
  margin-bottom: 10px;
}

.hint-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.hint-content {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.315);
}

#timer {
  color: red;
  font-size: larger;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 0.5s;
}

.image-wrapper:hover .overlay {
  opacity: 1;
}

.submit-btn {
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: goldenrod;
  color: #fff;
  cursor: pointer;
  width: 25%;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.submit-btn:hover {
  background-color: #444;
}
